{% extends '::base.html.twig' %}

{% block body -%}
    <h1>HSCard</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Cardid</th>
                <td>{{ entity.cardId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Cardset</th>
                <td>{{ entity.cardSet }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Faction</th>
                <td>{{ entity.faction }}</td>
            </tr>
            <tr>
                <th>Rarity</th>
                <td>{{ entity.rarity }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ entity.cost }}</td>
            </tr>
            <tr>
                <th>Attack</th>
                <td>{{ entity.attack }}</td>
            </tr>
            <tr>
                <th>Health</th>
                <td>{{ entity.health }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ entity.text }}</td>
            </tr>
            <tr>
                <th>Flavor</th>
                <td>{{ entity.flavor }}</td>
            </tr>
            <tr>
                <th>Artist</th>
                <td>{{ entity.artist }}</td>
            </tr>
            <tr>
                <th>Collectible</th>
                <td>{{ entity.collectible }}</td>
            </tr>
            <tr>
                <th>Elite</th>
                <td>{{ entity.elite }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ entity.img }}</td>
            </tr>
            <tr>
                <th>Imggold</th>
                <td>{{ entity.imgGold }}</td>
            </tr>
            <tr>
                <th>Locale</th>
                <td>{{ entity.locale }}</td>
            </tr>
            <tr>
                <th>Mechanics</th>
                <td>{{ entity.mechanics }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('hscard') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('hscard_edit', { 'id': entity.cardId }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
